<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /sirsonite-s/omkar-consultant/

RewriteRule ^index\.html$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . /sirsonite-s/omkar-consultant/index.html [L]
</IfModule> 